

/* Color Theme Swatches in Hex */
.Treasurana---Geocaching-App-1-hex { color: #267365; }
.Treasurana---Geocaching-App-2-hex { color: #F2CB05; }
.Treasurana---Geocaching-App-3-hex { color: #F29F05; }
.Treasurana---Geocaching-App-4-hex { color: #F28705; }
.Treasurana---Geocaching-App-5-hex { color: #F23030; }

/* Color Theme Swatches in RGBA */
.Treasurana---Geocaching-App-1-rgba { color: rgba(37, 114, 100, 1); }
.Treasurana---Geocaching-App-2-rgba { color: rgba(242, 202, 4, 1); }
.Treasurana---Geocaching-App-3-rgba { color: rgba(242, 159, 4, 1); }
.Treasurana---Geocaching-App-4-rgba { color: rgba(242, 135, 4, 1); }
.Treasurana---Geocaching-App-5-rgba { color: rgba(242, 48, 48, 1); }

/* Color Theme Swatches in HSLA */
.Treasurana---Geocaching-App-1-hsla { color: hsla(168, 50, 29, 1); }
.Treasurana---Geocaching-App-2-hsla { color: hsla(50, 96, 48, 1); }
.Treasurana---Geocaching-App-3-hsla { color: hsla(39, 96, 48, 1); }
.Treasurana---Geocaching-App-4-hsla { color: hsla(33, 96, 48, 1); }
.Treasurana---Geocaching-App-5-hsla { color: hsla(0, 88, 56, 1); }
